* {
  outline: 1px dotted line;
}

...

body {
  background-color: #F2F2F2;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  background-color: #2D2F3B;
  height: 90px;
  color: white;
}

.nav {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  float: left;
  margin-top: 35px;
  font-size: 1.4rem;
}

.links {
  float: right;
  margin-top: 40px;
  font-size: 0.75rem;
}

.links a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.salmon {
  color: #f16c65;
}
